/* header */

.header {
    position: absolute;
    padding: 30px 60px;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    backdrop-filter: blur(5px);
  }
  
  .navigation{
    padding: 0 100px;
    width: 100%;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  
  
  .header ul button{
    padding: 5px 15px;
    border: 1px solid transparent;
    border-radius: 30px;
    cursor: pointer;
    font-size: 20px;
    background-color: transparent;
    transition: 0.3s ease-in-out;
  }
  
  .header ul button:hover{
    background:rgba(128, 0, 128, 0.479);
    transition: 0.3s ease-in-out;
    color: #ffffff;
  }
  
  .autorization{
    background-color: white;
  }
  
  .gamburgerHolder {
    display: Visible;
    margin-left: 30px;
  }
  
  .gamburger {
    padding-top: 9px;
    font-size: 35px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.6s;
  }
  
  .gamburger:hover {
    color:rgba(128, 0, 128, 0.479);
    transition: 0.6s;
  }
  
  .authorization {
    padding-top: 9px;
    font-size: 35px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.6s;
  }
  
  .authorization:hover{
    color:rgba(128, 0, 128, 0.479);
    transition: 0.6s;
  }
  
  main {
    margin: 70px 0 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  .contentMenu{
    width: 50%;
    margin: 3px 0 0 3px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
  }
  
  .contentMenu li button{
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 1px 3px;
    background: transparent;
    transition: 0.6s;
  }
  
  .contentMenu li button:hover{
    color: rgba(128, 0, 128, 0.479);
    transition: 0.6s;
  }
  
  .content {
    margin-top: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
  }
  
  
  .item{
    margin: 20px;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid gray;
  }